@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .font-schibsted {
    font-family: 'Schibsted Grotesk', sans-serif;
  }
  .font-inter {
    font-family: 'Inter', sans-serif;
  }
  .font-noto {
    font-family: 'Noto Sans', sans-serif;
  }
  .font-fustat {
    font-family: 'Fustat', sans-serif;
  }
}

